//start reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

input[type='submit'] {
    -webkit-appearance: none;
}

img {
    border: 0;
    max-width: 100%;
}

ul {
    margin-bottom: 20px;

    li {
        list-style: disc;
        margin-left: 17px;
    }
}

input, textarea, select {
    outline: none;
}

textarea {
    resize: none;
    overflow: hidden;
}

a {
    color: #008fff;
    -webkit-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #008fff;
    -webkit-transition: all 0.2s ease 0.05s;
    transition: all 0.2s ease 0.05s;
}

a:active,
a:focus,
a:focus-within,
a:target,
a:visited,
a:focus-visible {
    outline: none;
}

hr {
    margin: 0;
    height: 0;
}

textarea, input[type="text"], input[type="button"], input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

p {
    line-height: 1.4;
    margin-bottom: 22px;
}

button:focus {
    outline: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

sup {
    font-size: 75%;
    top: -0.5em;
    position: relative;
}

.c-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1300px) {
        max-width: 1280px;
        padding-right: 0;
        padding-left: 0;
    }
}

.c-container-fluid {
    max-width: 2560px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
//end reset
