/* noto-sans-100 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-100italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-100italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-200 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-200italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-200italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-300 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-300italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-300italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-500 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-500italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-500italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-600 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-600italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-600italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-700 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-700italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-800 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-800italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-800italic.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-900 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-900italic - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/noto-sans-v28-cyrillic_cyrillic-ext_latin_latin-ext-900italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/saira-v14-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-300.svg#Saira') format('svg'); /* Legacy iOS */
}
/* saira-regular - latin-ext_latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/saira-v14-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-regular.svg#Saira') format('svg'); /* Legacy iOS */
}
/* saira-500 - latin-ext_latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/saira-v14-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-500.svg#Saira') format('svg'); /* Legacy iOS */
}
/* saira-600 - latin-ext_latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/saira-v14-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-600.svg#Saira') format('svg'); /* Legacy iOS */
}
/* saira-700 - latin-ext_latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/saira-v14-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-600.svg#Saira') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/saira-v14-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-600.svg#Saira') format('svg'); /* Legacy iOS */
}
/* saira-800 - latin-ext_latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/saira-v14-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-800.svg#Saira') format('svg'); /* Legacy iOS */
}
/* saira-900 - latin-ext_latin */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/saira-v14-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/saira-v14-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/saira-v14-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
  url('../fonts/saira-v14-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/saira-v14-latin-ext_latin-900.svg#Saira') format('svg'); /* Legacy iOS */
}
