.footer{
    padding: 50px 0 80px;
    background-color: #363E40;
    color: #AFB3BE;
    font-size: 14px;
    a{
        text-decoration: none;
        &:hover{
            color: #57B9D8;
        }
    }

    &--top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        flex-wrap: wrap;
    }

    &-logo,
    &-links,
    &-contacts{
        width: calc(100% / 3);
        padding-right: 20px;
    }
    @media (max-width: 1199px) {
        &-logo,
        &-links {
            width: 50%;
        }
    }
    @media (max-width: 767px) {
        &-logo--img,
        &-contacts--phone{
            display: none;
        }
        &-logo,
        &-links {
            width: 100%;
        }
    }
    &-logo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 767px) {
            padding-right: 0;
        }
        &--wrap{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
        &--img{
            margin-bottom: 30px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        &--dealer{
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
        }
    }

    &-links{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        @media (max-width: 1199px) {
            padding-right: 0;
        }
        &--point{
            margin-bottom: 15px;
            color: #AFB3BE;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &-contacts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 0;
        &--phone{
            font-size: 29px;
            font-weight: 900;
            margin-bottom: 30px;
            color: #fff;
            font-family: "Noto Sans", sans-serif;
        }
        &--info{
            display: flex;
            flex-direction: column;
        }
        @media (max-width: 1199px) {
            width: 100%;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 50px;
            &--phone{
                transform: none;
                margin-bottom: 0;
            }
            &--info{
                padding-top: 5px;
                display: block;
                padding-left: 30px;
            }
        }
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
            &--phone{
                margin-bottom: 20px;
            }
            &--info{
                padding-left: 0;
            }
        }
    }

    &--bottom{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 30px;
        border-top: 1px solid #AFB3BE;
        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &-copyright{
        width: calc(100% / 3);
        @media (max-width: 1199px) {
            width: 50%;
        }

    }

    .map-info{
        background-image: url('../img/logo-map-o.svg');
        background-color: #363E40;
        background-repeat: no-repeat;
        background-position: 50% 40%;
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
        font-size: 18px;
        &--logo{
            margin-bottom: 80px;
            img{
                object-fit: contain;
            }
        }
        &--about{
            text-align: center;
            margin-bottom: 50px;
        }
        &--address{
            margin-bottom: 5px;
        }
        &--phone{
            font-size: 28px;
            font-weight: 700;
            text-decoration: none;
            margin-bottom: 5px;
            display: block;
        }
        &--time{
            margin-bottom: 20px;
        }
        &--button{
            width: 100%;
        }
    }
}


@media (max-width: 767px) {
    .footer--top{
        padding-bottom: 40px;
    }
    .footer-logo{
        order: 2;
        padding-top: 30px;
    }
    .footer-links{
        order: 1;
        padding-bottom: 30px;
        border-bottom: 1px solid #CACACA;
    }
    .footer-contacts{
        order: 3;
        margin-top: 20px;
    }
    .footer--bottom{
        flex-direction: column-reverse;
    }
    .footer-copyright{
        width: auto;
        margin-top: 15px;
    }
}


@media (max-width: 500px) {

}
