body {
    &.menu-up {
        .menu-top {
            top: -80px;
            @media (max-width: 1366px) {
                top: -60px;
            }
        }
        @media (max-width: 599px) {
            .menu-top--submenu{
                z-index: -10;
                opacity: 0;
                visibility: hidden;
                transition: none;
                transition-delay: 0s;
            }
        }
    }
}
@media (max-width: 991px) {
    body.dop-menu-active {
        .menu-top {
            display: none;
            transition: none;
        }
    }
}

.menu-top{
    background-color: #fff;
    padding: 0 30px;
    height: 100px;
    position: fixed;
    width: 100vw;
    z-index: 20;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    transition: 0.15s;
    &.menu-shrink{
        height: 75px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        transition: 0.4s;
    }
    @media (max-width: 1366px) {
        height: 70px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        &.menu-shrink{
            height: 70px;
        }
        &.menu-up{
            top: -70px;
        }
    }
    @media (max-width: 991px) {
        padding: 0 15px;
    }
    @media (max-width: 767px) {
        padding: 0 30px;
    }
    @media (max-width: 576px) {
        padding: 0 20px 0 15px;
    }
    &--wrap{
        width: 100%;
        max-width: 1700px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &--logo{
        display: flex;
        align-items: center;
        color: #0D2635;

        &-link{
            display: inline-flex;
            padding: 16px 30px 16px 0;
            margin-right: 20px;
            border-right: 2px solid #0D2635;
        }
        &-dealer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            strong {
                text-transform: uppercase;
                margin-bottom: 3px;
            }
            span{
                font-size: 18px;
                letter-spacing: 0.05em;
            }
        }
        @media (max-width: 1366px) {
            &-link{
                padding: 5px 20px 5px 0;
            }
        }
        @media (max-width: 1799px) {
            &-dealer{
                strong {
                    font-size: 14px;
                }
                span{
                    font-size: 14px;
                }
            }
        }
        @media (max-width: 991px) {
            &-dealer{
                strong {
                    font-size: 12px;
                    font-weight: 800;
                }
                span{
                    font-size: 12px;
                }
            }
            &-link{
                padding-right: 10px;
                margin-right: 10px;
                img{
                    height: 18px;
                }
            }
        }
        @media (max-width: 576px) {
            &-link{
                img{
                    height: 15px;
                }
            }
        }
        @media (max-width: 399px) {
            &-dealer{
                max-width: 100px;
                strong{
                    margin-bottom: 0;
                }
                span{
                    display: none;
                }
            }
        }
    }

    &--nav{
        display: none;
        @media (max-width: 767px) {
            padding: 0 20px;
            display: flex;
        }
        a{
            text-decoration: none;
        }
        &-link{
            padding: 5px 0;
            margin: 0 15px;
            color: #fff;
            text-decoration: none;
            position: relative;
            cursor: pointer;
            transition: 0.25s;
            &:before{
                content: '';
                position: absolute;
                left: 50%;
                bottom: 2px;
                height: 1px;
                width: 0;
                background-color: transparent;
                transition: 0.25s;
            }
            @media (max-width: 1700px) {
                margin: 0 10px;
            }
        }
        &-title{
            display: none;
            color: #fff;
        }
        &-dealer{
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            letter-spacing: 0.05em;
            margin-bottom: 20px;
            strong{
                font-size: 26px;
            }
            span{
                font-size: 18px;
            }
            @media (max-width: 399px) {
                strong{
                    font-size: 21px;
                }
                span{
                    font-size: 16px;
                }
            }
        }
    }

    &--contacts{
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        padding: 0 60px;
        &-phone{
            display: inline-flex;
            font-size: 25px;
            font-weight: 900;
            color: #0D2635;
            text-decoration: none;
            margin-top: -6px;
            font-family: "Noto Sans", sans-serif;
        }
        &-address,
        &-time{
            font-size: 18px;
            letter-spacing: 0.05em;
        }
        @media (max-width: 1799px) {
            padding: 0 45px;
            &-address,
            &-time{
                font-size: 16px;
            }
        }
        @media (max-width: 1599px) {
            padding: 0 20px;
            &-phone{
                font-size: 21px;
                margin-top: -2px;
            }
        }
        @media (max-width: 1499px) {
            padding: 0 40px;
            &-time{
                display: none;
            }
        }
        @media (max-width: 1299px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            padding: 0 20px 0 0;
            &-phone{
                margin-top: 0;
                margin-bottom: 3px;
            }
            &-address{
                font-size: 14px;
            }
        }

        @media (max-width: 991px) {
            &-phone{
                font-size: 15px;
            }
            &-address{
                font-size: 12px;
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    &--button{
        .page-btn{
            width: auto;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    .show-mob,
    .js-mob-btn{
        display: none;
    }


    @media (max-width: 767px) {
        .show-mob,
        .js-mob-btn {
            display: inline-flex;
        }
        .js-mob-btn{
            width: 24px;
            height: 24px;
            .menu-open,
            .menu-close{
                display: none;
                &.active{
                    display: inline-flex;
                }
            }
        }
        .menu-top--logo{
            flex-grow: 1;
        }

        .menu-top--nav{
            position: fixed;
            right: -100%;
            top: 70px;
            width: 350px;
            z-index: 11;
            flex-direction: column;
            background-color: #363E40;
            padding: 30px 20px;
            min-height: calc(100vh - 70px);
            transition: 0.25s;
            &-overlay {
                &:before {
                    content: '';
                    position: fixed;
                    width: 0;
                    height: calc(100% - 70px);
                    right: 350px;
                    top: 70px;
                    background: linear-gradient(101.43deg, rgba(255, 255, 255, 0.24) -5.15%, rgba(255, 255, 255, 0.04) 104.36%);
                    backdrop-filter: blur(8px);
                }
            }
            &.active{
                right: 0;
                transition: 0.25s;
            }
        }

        .menu-top--nav-link{
            padding: 18px 0;
            margin: 0;
            border-bottom: 1px solid #CACACA;
            &:before{
                bottom: -1px;
            }
            &.link-phone{
                border-bottom: 0;
                padding-left: 30px;
                background: url("../img/ico-phone-white.svg") no-repeat 0 50%;
            }
        }
        .menu-top--nav-buttons{
            //margin-top: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            .page-btn{
                margin-bottom: 25px;
                width: 100%;
            }
        }
        .menu-top--nav-text{
            color: #fff;
            margin-bottom: 10px;
            font-size: 14px;
            letter-spacing: 0.05em;
        }
    }
    @media (max-width: 599px) {
        .menu-top--contacts{
            display: none;
        }
        .menu-top--nav-title {
            display: inline-flex;
            margin-bottom: 16px;
        }
        .menu-top--nav-button{
            .page-btn{
                width: 100%;
                justify-content: center;
            }
        }
    }
    @media (max-width: 399px) {
        .menu-top--nav{
            width: 100vw;
            &-overlay {
                &:before {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    body.menu-show {
        overflow: hidden;
        .menu-top--nav{
            right: 0;
            overflow-y: auto;
            height: calc(100vh - 70px);
            transition: 0.25s;
            &-overlay:before{
                width: calc(100vw - 350px);
                transition: 0.3s;
                transition-delay: 0.2s;
            }
        }
    }
}
