body {
    font-family: 'Noto San', system-ui;
    font-size: 16px;
    font-weight: normal;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    color: #363E40;
    line-height: 1.2;
    max-width: 2560px;
}

sup{
    font-size: 75%;
}
picture{
    display: flex;
    flex-direction: column;
}
strong{
    font-weight: 700;
}
a{
    color: inherit;
    transition: 0.25s;
    &:hover{
        color: #57B9D8;
        transition: 0.25s;
    }
}
.rel{
    position: relative;
}
@media (max-width: 991px) {
    .container.full-991 {
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .container.full-767 {
        max-width: 100%;
        padding: 0;
    }
}

.section-title{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
    text-transform: uppercase;
    @media (max-width: 1399px) {
        font-size: 50px;
    }
    @media (max-width: 1199px) {
        font-size: 40px;
    }
    @media (max-width: 767px) {
        font-size: 30px;
    }
    @media (max-width: 576px) {
        font-size: 25px;
    }
    @media (max-width: 359px) {
        font-size: 23px;
    }
}
.section-subtitle{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 20px;
    @media (max-width: 1399px) {
        font-size: 25px;
    }
    @media (max-width: 767px) {
        font-size: 20px;
    }
    @media (max-width: 359px) {
        font-size: 18px;
    }
}

.section-text{
    font-size: 20px;
    @media (max-width: 767px) {
        font-size: 16px;
    }
}
.page-btn{
    width: 360px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 14px 65px 15px;
    height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    background: #1F3A60;
    border-radius: 4px;
    position: relative;
    border: none;
    transition: 0.25s;
    @media (max-width: 1199px) {
        padding: 15px 40px;
    }
    @media (max-width: 991px) {
        font-size: 18px;
    }
    @media (max-width: 576px) {
        font-size: 16px;
        height: 50px;
        padding: 5px 15px;
    }
    &:hover{
        color: #fff;
        background: #EA3863;
        transition: 0.25s;
    }
    &.btn-red{
        background-color: #EA3863;
        &:hover{
            background-color: #57B9D8;
        }
        &:disabled{
            background-color: rgba(#EA3863, 0.5);
        }
    }
    &.btn-white{
        background-color: #fff;
        font-weight: 700;
        color: #1F3A60;
        &:hover{
            background-color: #57B9D8;
        }
    }
}
.text-white{
    color: #fff;
}
.align-centered{
    display: flex;
    align-items: center;
    height: 100%;
}
.ruble{
    font-family: 'Saira', sans-serif;
    line-height: 1;
    font-weight: 700;
}
.custom-list{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    li{
        list-style: none;
        margin-bottom: 12px;
        margin-left: 0;
        position: relative;
        display: flex;
        &:before{
            content: '';
            background: url("../img/list-bullit.svg") no-repeat 0 0;
            width: 27px;
            height: 27px;
            margin-right: 25px;
            flex-shrink: 0;
            margin-top: 3px;
        }
    }
    @media (max-width: 1399px) {
        font-size: 20px;
        li:before{
            width: 24px;
            height: 24px;
            background-size: contain;
            margin-right: 20px;
        }
    }
    @media (max-width: 1199px) {
        font-size: 18px;
        li:before {
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }
    }
    @media (max-width: 576px) {
        font-size: 16px;
        font-weight: normal;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label,
input[type=checkbox] + span{
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid rgba(#57B9D8, 0.5);
        flex-shrink: 0;
    }
    &:hover{
        &:before{
            border-color: #57B9D8;
        }
    }
}
input[type=checkbox]:checked + span,
input[type=checkbox]:checked + label{
    &:before{
        background-color: #57B9D8;
        background-image: url('../img/ico-check.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.show-991{
    @media (min-width: 992px) {
        display: none!important;
    }
}
.show-767{
    @media (min-width: 768px) {
        display: none;
    }
}

@media (min-width: 576px) {
    .container-1700 {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container-1700 {
        max-width: 100%;
    }
}
@media (min-width: 1450px) {
    .container-1700 {
        max-width: 1420px;
    }
}
@media (min-width: 1550px) {
    .container-1700 {
        max-width: 1520px;
    }
}
@media (min-width: 1650px) {
    .container-1700 {
        max-width: 1620px;
    }
}
@media (min-width: 1750px) {
    .container-1700 {
        max-width: 1720px;
    }
}

