body{
    &.overflow{
        height: 100vh;
        overflow: hidden;
    }
}

@media (min-width: 520px) {
    .modal-dialog.modal-sm {
        width: 500px;
    }
}
.modal {
    overflow: hidden;
    opacity: 0;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
    .close{
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 24px;
        height: 24px;
        opacity: 0.6;
        transition: 0.25s;
        &:hover{
            opacity: 1;
            transition: 0.25s;
        }
    }

    &-dialog{
        position: absolute;
        left: 50%;
        top: -100%;
        transform: translateX(-50%);
        height: auto;
        width: calc(100vw - 30px);
        background-color: #fff;
        transition: 0.25s;

        @media (min-width: 1150px) {
            max-width: 1000px;
            width: 100%;
        }
    }

    &.modal-open{
        display: block;
        overflow: visible;
        opacity: 1;
        z-index: 100;
        transition: 0.25s;

        .modal-dialog{
            top: 75px;
            transition: 0.25s ease-in-out;
            transition-delay: 0.25s;
            @media (max-width: 1399px) {
                top: 60px;
            }
        }
        .modal-dialog.modal-sm{
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .js-btn-submit.js-disabled {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index: 10;
        }
    }
    &-img {
        picture {
            align-items: center;
        }
    }
    &-content{
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        @media (max-width: 991px) {
            max-height: calc(100vh - 150px);
        }
        @media (min-width: 992px) {
            &::-webkit-scrollbar {
                width: 6px;
                height: 0;
            }

            &::-webkit-scrollbar-button {
                display: none;
                height: 0;
            }

            &::-webkit-scrollbar-track {
                background-color: #999;
            }

            &::-webkit-scrollbar-track-piece {
                background-color: #2F3641;
            }

            &::-webkit-scrollbar-thumb {
                height: 50px;
                background-color: #EA3863;
            }

            &::-webkit-scrollbar-corner {
                background-color: #999;
            }

            &::-webkit-resizer {
                background-color: #666;
            }
        }
    }
    &-header{
        padding: 30px 30px 0 30px;
        border: 0;
        margin-bottom: 30px;
        @media (max-width: 991px) {
            margin-bottom: 15px;
        }
        @media (max-width: 499px) {
            padding: 15px 15px 0 15px;
        }
    }
    &-body{
        padding: 0 60px 50px 60px;
        @media (max-width: 499px) {
            padding: 0 15px 50px 15px;
        }
    }
    &-title{
        font-size: 36px;
        line-height: 1;
        margin-bottom: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: #363E40;
        @media (max-width: 1366px) {
            font-size: 30px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
        }
    }
    &-text{
        padding-top: 15px;
    }
    &-button{
        display: flex;
        justify-content: center;
        position: relative;
        button:disabled {
            opacity: 0.5;
            transition: none;
            cursor: no-drop;
            color: rgba(#fff, 0.5);
            background: rgba(#1F3A60, 0.5);
            font-weight: 400;
            &:after,
            &:before {
                display: none;
            }
        }
        .page-btn{
            padding: 11px 24px 13px 24px;
            width: 100%;
            text-align: center;
            justify-content: center;
            @media (max-width: 499px) {
                width: 100%;
            }
        }

    }
    &-form{
        margin-top: 20px;
        @media (max-width: 991px) {
            margin-top: 10px;
        }
        &--wrap{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }
    &-input{
        width: 100%;
        input{
            width: 100%;
            border: 1px solid rgba(#363E40, 0.5);
            padding: 12px 15px;
            background-color: transparent;
            color: #363E40;
            border-radius: 4px;
            transition: 0.25s;
            &:hover,
            &:focus{
                border-color: rgba(#363E40, 1);
                transition: 0.25s;
            }
            &::placeholder {
                color: rgba(#363E40 ,0.5);
                transition: 0.25s;
            }
            &.error{
                border-color: red;
            }
        }
        &--label{
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    &-check{
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 30px;
        @media (max-width: 650px) {
            font-size: 14px;
        }
        @media (max-width: 499px) {
            font-size: 12px;
        }
        a{
            color: #57B9D8;
        }
        input[type=checkbox] {
            display: none;
        }
        input[type=checkbox] + label{
            position: relative;
            padding-left: 30px;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: -1px;
                width: 20px;
                height: 20px;
                border-radius: 4px;
                border: 1px solid #57B9D8;
                flex-shrink: 0;
            }
        }
        input[type=checkbox]:checked + label{
            &:before{
                background-color: #57B9D8;
                background-image: url('../img/ico-check.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                border-color: #57B9D8;
            }
        }
        &.trembling {
            animation: 1.2s ease-in-out 0s normal none running trembling-animation;
        }
    }
}
.label-agreement{
    display: flex;
    align-items: flex-start;
}
@media (max-width: 499px) {
    .modal-dialog.modal-sm .modal-body {
        padding: 0 15px 20px 15px;
    }
}

@keyframes trembling-animation {
    0%, 50%, 100% {
        transform: scale(1);
    }
    10%, 30% {
        transform: scale(1.1);
    }
    20%, 40% {
        transform: scale(1.0);
    }
}
