.section-top{
    margin-top: 100px;
    @media (max-width: 1366px) {
        margin-top: 70px;
    }
    @media (max-width: 991px) {
        .c-container{
            max-width: 100%;
        }
    }
    &--image{
        display: block;
        max-height: calc(100vh - 100px);
        object-fit: cover;
        width: 100%;
        object-position: 60% 100%;
        @media (max-width: 1366px) {
            max-height: calc(100vh - 70px);
        }
        @media (max-width: 576px) {
            height: auto;
        }
    }
    &--about{
        position: absolute;
        bottom: 150px;
        max-width: 650px;

        .animate-title{
            transform: scale(0);
            transition: 0.4s;
        }
        .animate-button{
            transform: scale(0);
            transition: 0.4s;
        }
        &.active{
            .animate-title{
                transform: scale(1);
                transition: 0.4s;
                transition-delay: 0.3s;
            }
            .animate-button{
                transform: scale(1);
                transition: 0.4s;
                transition-delay: 0.8s;
            }
        }

        @media (max-width: 1366px) {
            max-width: 700px;
            bottom: 120px;
        }
        @media (max-width: 1199px) {
            bottom: 50px;
        }
        @media (max-width: 767px) {
            position: static;
            left: 0;
            bottom: 0;
            margin: -70px -15px 0;
            background-color: #000200;
            padding: 0 15px 50px;
            max-width: calc(100% + 30px);
            width: calc(100% + 30px);
            .section-button{
                text-align: center;
            }
        }
        @media (max-width: 500px) {
            margin-top: -30px;
        }
        @media (max-width: 450px) {
            .section-button{
                .page-btn{
                    width: 100%;
                }
            }
        }
        @media (max-width: 349px) {
            margin-top: 0;
        }
    }
    .custom-list {
        margin-bottom: 80px;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }
}

